
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-md-5">
            <h2>Contáctanos<span class="text-danger"> Ahora</span></h2>
            <p>¿Cuentas con alguna pregunta? Nuestro equipo está aquí para ayudarte.</p>

            <h5>Información de contacto</h5>
            <ul class="list-unstyled">
                <li>
                    <strong>📍 Ubicación:</strong><br>
                    Calle Falsa 123, Ciudad, País
                </li>
                <li class="mt-3">
                    <strong>📞 Teléfono:</strong><br>
                    +57 (322) 123-4567 <br>
                    Lunes a Sábado 9AM – 8PM
                </li>
                <li class="mt-3">
                    <strong>📧 Correo Electrónico:</strong><br>
                    sportify@gmail.com
                </li>
            </ul>

        </div>


        <!--  Formulario -->
        <div class="col-md-7">
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <label for="nombre"class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo">
                    </div>
                </div>

                <div class="mb-3">

                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="tu@email.com">
                </div>
                <div class="mb-3">
                    <label for="asunto" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="asunto" placeholder="¿En qué podemos ayudarte?">
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje aquí..."></textarea>
                </div>
                <button type="submit" class=" w-25 btn-agregar-carrito d-block mx-auto">✉️ Enviar Mensaje</button>
            </form>
        </div>
    </div>
</div>