<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="icon" href="/assets/img/logo.png" type="icon">
</head>
<body>
    
<footer class=" footer-section bg-dark text-white text-center py-4 footer-fixed">
        <div class="container">
            <div class="row">
                <!-- Información principal del footer -->
                <div class="col-md-8">
                    <p class="mb-1">© 2025 Sportify. Todos los derechos reservados.</p>
                    <p class="mb-2">Creado por equipo de desarrollo 8 👨‍💻</p>
                    <div>
                        <a href="https://github.com/Crowtinho/hackathon" class="text-white"><i class="bi bi-github fs-3 mx-3"></i></a>
                    </div>
                </div>
                
                <!-- Columna del equipo -->
                <div class="col-md-4">
                    <h6 class="mb-3">Nuestro Equipo</h6>
                    <div class="row row-cols-2 g-2">
                    <div class="col">
                        <small><a href="https://www.linkedin.com/in/estefania-pachon-ing-fullstack/">Estefania Pachon</a></small>
                    </div>
                    <div class="col">
                        <small><a href="https://www.linkedin.com/in/andres-cuervo-dev/">Andrés Cuervo</a></small>
                    </div>
                    <div class="col">
                        <small><a href="https://www.linkedin.com/in/andr%C3%A9s-v-8a0007213/">Andrés Vanegas</a></small>
                     </div>
                    <div class="col">
                        <small><a href="https://www.linkedin.com/in/miguel-angel-simbaqueba-developer">Miguel Simbaqueba</a></small>
                     </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>