
<footer class=" footer-section bg-dark text-white text-center py-4 footer-fixed">
        <div class="container">
            <div class="row">
                <!-- Información principal del footer -->
                <div class="col-md-8">
                    <p class="mb-1">© 2025 Sportify. Todos los derechos reservados.</p>
                    <p class="mb-2">Creado por equipo de desarrollo 8 👨‍💻</p>
                    <div>
                        <a href="https://github.com/Crowtinho/hackathon" class="text-white"><i class="bi bi-github fs-3 mx-3"></i></a>
                    </div>
                </div>
                
                <!-- Columna del equipo -->
                <div class="col-md-4">
                    <h6 class="mb-3">Nuestro Equipo</h6>
                    <div class="d-flex flex-column align-items-center">
                        <div class="row">
                        <p class="mb-1"><small><a href="https://www.linkedin.com/in/estefania-pachon-ing-fullstack/">Estefania Pachon</a></small></p>
                        <p class="mb-1"><small><a href="https://www.linkedin.com/in/andres-cuervo-dev/">Andrés Cuervo</a></small></p>
                        </div>
                        <div class="row">
                        <p class="mb-1"><small><a href="https://www.linkedin.com/in/andr%C3%A9s-v-8a0007213/">Andrés Vanegas</a></small></p>
                        <p class="mb-0"><small><a href="https://www.linkedin.com/in/miguel-angel-simbaqueba-developer">Miguel Simbaqueba</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
