<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<footer class="bg-dark text-white text-center py-4 footer-fixed">
        <div class="container">
            <div class="row">
                <!-- Información principal del footer -->
                <div class="col-md-8">
                    <p class="mb-1">© 2025 To-Do App. Todos los derechos reservados.</p>
                    <p class="mb-2">Creado por Miguel Ángel 👨‍💻</p>
                    <div>
                        <a href="https://github.com/Ukpercival" class="text-white"><i class="bi bi-github fs-3 mx-3"></i></a>
                        <a href="https://www.linkedin.com/in/miguel-angel-simbaqueba-developer" class="text-white"><i class="bi bi-linkedin fs-3"></i></a>
                    </div>
                </div>
                
                <!-- Columna del equipo -->
                <div class="col-md-4">
                    <h6 class="mb-3">Nuestro Equipo</h6>
                    <div class="d-flex flex-column align-items-center">
                        <p class="mb-1"><small>Miguel Ángel</small></p>
                        <p class="mb-1"><small>Nombre Compañero 2</small></p>
                        <p class="mb-1"><small>Nombre Compañero 3</small></p>
                        <p class="mb-0"><small>Nombre Compañero 4</small></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>