
    <header class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg py-2 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo.png" 
                        alt="logo" width="150" height="150" class="d-inline-block" aria-label="logo">
            </a>
            
            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="botón menú">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Menú de navegación centrado en pantallas grandes -->
                <ul class="navbar-nav mx-auto d-none d-lg-flex ">
                    <li class="nav-item">
                        <a class="nav-link active mx-5 fs-4 montserrat " href="#" aria-label="Inicio"><i class="bi bi-house mx-3"></i
                            >Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 fs-4 montserrat" href="#" aria-label="Productos"><i class="bi bi-bag mx-3"></i>
                            Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 fs-4 montserrat" href="#" aria-label="Servicios"><i class="bi bi-clipboard-check mx-3"></i>
                            Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-5 fs-4 montserrat" href="#" aria-label="Contacto"><i class="bi bi-telephone mx-3"></i>
                            Contacto</a>
                    </li>
                </ul>
                
                <!-- Menú para pantallas pequeñas -->
                <ul class="navbar-nav d-lg-none w-100 text-center">
                    <li class="nav-item py-2">
                        <a class="nav-link fs-4 montserrat text-dak" href="#"><i class="bi bi-house mx-3"></i>
                            Inicio</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link fs-4 montserrat  text-white" href="#"><i class="bi bi-bag mx-3"></i>
                            Productos</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link fs-4 montserrat text-white " href="#"><i class="bi bi-clipboard-check mx-3"></i>
                            Servicios</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link fs-4 montserrat text-white " href="#"><i class="bi bi-telephone mx-3"></i>
                            Contacto</a>
                    </li>
                    <li class="nav-item mt-3">
                        <button  id="botonCarritolg" type="button" class=" btn btn-outline-custom py-3 montserrat text-white">
                            <i class="bi bi-cart fs-4 text-white"></i> Ir al carrito
                        </button>
                    </li>
                </ul>
                
                <!-- Botón carrito en pantallas grandes -->
                <div class="d-none d-lg-block ms-auto px-3">
                    <button  id="botonCarritosm" type="button" class="btn btn-outline-custom py-3 montserrat text-white">
                        <i class="bi bi-cart fs-4 text-white"></i> Ir al carrito
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

