<nav class="navbar navbar-expand-md py-2 shadow-lg mb-2 bg-body-tertiary rounded">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Logo -->
    <a class="navbar-brand me-2 mx-2" href="#hero2">
      <img src="/assets/img/logo-2.png" alt="logo" width="60" height="50" />
    </a>

    <!-- Botón hamburguesa alineado a la derecha -->
    <button class="navbar-toggler ms-auto border-0" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-md-2 mx-1">
            <a class="nav-link text-uppercase fw-semibold hover-link active" aria-current="page" href="#hero2">
              Inicio
            </a>
          </li>
          <li class="nav-item mx-md-2 mx-1">
            <a class="nav-link text-uppercase fw-semibold hover-link" href="#products">
              Productos
            </a>
          </li>
          <li class="nav-item mx-md-2 mx-1">
            <a class="nav-link text-uppercase fw-semibold hover-link" href="#services">
              Servicios
            </a>
          </li>
          <li class="nav-item mx-md-2 mx-1">
            <a class="nav-link text-uppercase fw-semibold hover-link" href="#contact">
              Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Carrito (sólo visible en pantallas medianas o grandes) -->
    <button class="btn btn-agregar-carrito d-none d-md-block ms-3" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasCarrito" aria-controls="offcanvasCart">
      <i class="bi bi-cart"></i>
      <span class="badge bg-dark text-white ms-1 rounded-pill count-products" id="count-products">0</span>
    </button>

  </div>
</nav>
