<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCarritoLabel">🛒 Carrito de compras</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
  </div>

  <div class="offcanvas-body h-100 overflow-auto">
    <div class="d-flex flex-column flex-md-row h-auto gap-3">

      <!-- Resumen de compra -->
      <div class="resumen-compra flex-shrink-0" style="width: 100%; max-width: 300px; height: 250px;">
        <div class="sticky-md-top">
          <h5>Resumen de compra</h5>

          <div class="resumen-item d-flex justify-content-between">
            <span>Productos </span>
            <span id="count-products" class="count-products">0</span>
          </div>

          <div class="resumen-item d-flex justify-content-between">
            <span>Envío</span>
            <span>Gratis</span>
          </div>

          <div class="resumen-item d-flex justify-content-between fw-bold border-top pt-2 mt-2">
            <span>Total</span>
            <span id="total">$0</span>
          </div>

          <button onclick="enviarFacturaPorEmail('Andrés Cuervo')" class="btn  w-100 mt-3 btn-agregar-carrito">Realizar compra</button>
        </div>
      </div>

      <!-- Lista de productos con scroll (solo desde md en adelante) -->
      <div class="producto-lista flex-grow-1 overflow-md-auto border-start border-md-start-0 border-end pe-3">
        <!-- Aquí se insertan dinámicamente los productos -->
      </div>

    </div>
  </div>
</div>