
    <div class="container">
        <div class="row justify-content-center">

            <!-- Card Balón Baloncesto -->
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/sneakers.png" class="card-img-top" alt="Sala Moderna 3 Puestos">

                        <!-- Etiquetas -->
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-25%</span>
                        <span class="badge bg-light badge-categoria">Calzado</span>

                        <!-- Iconos al pasar el cursor -->
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>

                        <h5 class="card-title">Zapatillas JORDAN SPORTIFY</h5>
                        <p class="precio">
                            <span class="precio-oferta">$487.500</span>
                            <span class="precio-original">$650.000</span>
                        </p>

                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <!-- Aquí agregar más cards -->

        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">


            <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/sneakers.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-25%</span>
                        <span class="badge bg-light badge-categoria">Calzado</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Zapatillas Running Pro</h5>
                        <p class="precio">
                            <span class="precio-oferta">$487.500</span>
                            <span class="precio-original">$650.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100" onclick="addProduct('Calzadodelujo','487500')">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/ball-Basketball.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-50%</span>
                        <span class="badge bg-light badge-categoria">Balones</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Balón de Baloncesto</h5>
                        <p class="precio">
                            <span class="precio-oferta">$200.000</span>
                            <span class="precio-original">$100.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/ball-Soccer.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-50%</span>
                        <span class="badge bg-light badge-categoria">Balones</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Balón de fútbol</h5>
                        <p class="precio">
                            <span class="precio-oferta">$200.000</span>
                            <span class="precio-original">$100.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>


<!-- =========================================================== -->
 <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/sneakers.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-25%</span>
                        <span class="badge bg-light badge-categoria">Calzado</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Zapatillas Running Pro</h5>
                        <p class="precio">
                            <span class="precio-oferta">$487.500</span>
                            <span class="precio-original">$650.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/ball-Basketball.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-50%</span>
                        <span class="badge bg-light badge-categoria">Balones</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Balón de Baloncesto</h5>
                        <p class="precio">
                            <span class="precio-oferta">$200.000</span>
                            <span class="precio-original">$100.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card product-card">
                    <div class="card-img-container">
                        <img src="../assets/img/ball-Soccer.png" class="card-img-top" alt="Zapatillas Running Pro">
                        
                        <span class="badge bg-success badge-nuevo">NUEVO</span>
                        <span class="badge bg-danger badge-descuento">-50%</span>
                        <span class="badge bg-light badge-categoria">Balones</span>
                        <div class="iconos-acciones">
                            <i class="bi bi-heart-fill"></i>
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="rating">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                            <span class="rating-number">4.8 (124)</span>
                        </div>
                        <h5 class="card-title">Balón de fútbol</h5>
                        <p class="precio">
                            <span class="precio-oferta">$200.000</span>
                            <span class="precio-original">$100.000</span>
                        </p>
                        <button class="btn btn-agregar-carrito w-100">
                            <i class="bi bi-cart me-2"></i> Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

    
        </div>
    </div>


